<form action="/q1" method="post">
  <label>Username</label><br />
  <input type="text" name="username" required><br />
  <button class="start">Start</button>
</form>


<%- contentFor('door1') %>
<div class="small-door door-1">
  <div class="door-knob small-door-knob"></div>I
</div>

<%- contentFor('script') %>
<script defer src="js/app1.js"></script>

