<h2>Room 2</h2>
<img src="/img/room2.jpg" alt="room2">
<div class="hint display-none">
  <p>Hint</p>
  <div class="display-none">
    <p class="each-hint">Hint 1: <span class="display-none">The first image is a bicycle. The second image is a rocket.</span></p>
    <p class="each-hint">Hint 2: <span class="display-none"><img src="/img/A.png"> is the alphabet before "B".</span></p>
    <p class="each-hint">Hint 3: <span class="display-none">The red letters are one letter before the original one. The blue letters are two letters before the original one. The green letters are one letter after the original one.</span></p>
  </div>
</div>


<%- contentFor('door1') %>
<div class="small-door door-1">
  <div class="door-knob small-door-knob"></div>I
</div>

<%- contentFor('script') %>
<script defer src="js/app2.js"></script>
<% if (count > 9) { %>
  <script defer src="js/app3.js"></script>
<% } %>