<h2>Room 3</h2>
<img src="/img/room3.jpg" alt="room3">
<div class="hint display-none">
  <p>Hint</p>
  <div class="display-none">
    <p class="each-hint">Hint1: <span class="display-none">Which building is the letter "i" in?</span></p>
  </div>
</div>


<%- contentFor('door1') %>
<div class="small-door door-1">
  <div class="door-knob small-door-knob"></div>I
</div>

<%- contentFor('script') %>
<script defer src="js/app2.js"></script>
<% if (count > 1) { %>
  <script defer src="js/app3.js"></script>
<% } %>