<h2>Room 4</h2>
<img src="/img/room4.jpg" alt="room4">
<div class="hint display-none">
  <p>Hint</p>
  <div class="display-none">
    <p class="each-hint">Hint1: <span class="display-none">5-1 9-2 6-1 8-4 = fish</span></p>
    <p class="each-hint">Hint2: <span class="display-none">The first lette of "five" is "f". The second letter of "nine" is "i".</span></p>
  </div>
</div>


<%- contentFor('door1') %>
<div class="small-door door-1">
  <div class="door-knob small-door-knob"></div>I
</div>

<%- contentFor('script') %>
<script defer src="js/app2.js"></script>
<% if (count > 1) { %>
  <script defer src="js/app3.js"></script>
<% } %>